<nav class="ekt-nav" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo center" href="{{ "/" | relative_url }}">
        <img width="120" height="120" src="assets/logo.svg"/>
      </a>

          <ul class="left hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home </a></li>
            <li><a href="{{ "/dienstleistungen.html" | relative_url }}">Dienstleistungen </a></li>
            <li><a href="{{ "/kontakt.html" | relative_url }}">Kontakt </a></li>
          </ul>

          <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/anfahrt.html" | relative_url }}">Anfahrt </a></li>
            <li><a href="{{ "/downloads.html" | relative_url }}">Downloads </a></li>
            <li><a href="{{ "/uebermich.html" | relative_url }}">Über Mich </a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
            <li><a href="{{ "/dienstleistungen.html" | relative_url }}">Dienstleistungen </a></li>
            <li><a href="{{ "/kontakt.html" | relative_url }}">Kontakt </a></li>
            <li><a href="{{ "/anfahrt.html" | relative_url }}">Anfahrt </a></li>
            <li><a href="{{ "/downloads.html" | relative_url }}">Downloads </a></li>
            <li><a href="{{ "/uebermich.html" | relative_url }}">Über Mich </a></li>
          </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
